<div class="new-animal-form">
    {{input type="text" placeholder="Your pets name" value=name class="name-input"}}
    {{input type="text" placeholder="Describe your pet" value=description class="description-input"}}
    {{input type="date" placeholder="When did he/she go missing?" value=date class="date-input"}}
    {{input type="text" placeholder="Address" value=address class="address-input"}}
    {{input type="text" placeholder="Image URL" value=image class="image-input"}}
    <button {{action 'addAnimal'}} class="submit">Add pet</button>
</div>
